<div class="container">
  <div class="calc">
    <div class="title-calc">
      <h2>Calculator</h2>
    </div>
    <div class="operations">
        <div class="prev-calc">{{lastOperation}}</div>
        <div class="atual-calc">{{currentOperation}}</div>
    </div>
    <div class="btn-container">
      <button (click)="addToDisplay('CE')">CE</button>
      <button (click)="addToDisplay('C')">C</button>
      <button (click)="addToDisplay('DEL')">DEL</button>
      <button (click)="addToDisplay('÷')">÷</button>
      <button (click)="addToDisplay('7')" class="number">7</button>
      <button (click)="addToDisplay('8')" class="number">8</button>
      <button (click)="addToDisplay('9')" class="number">9</button>
      <button (click)="addToDisplay('*')">&times;</button>
      <button (click)="addToDisplay('4')" class="number">4</button>
      <button (click)="addToDisplay('5')" class="number">5</button>
      <button (click)="addToDisplay('6')" class="number">6</button>
      <button (click)="addToDisplay('-')">-</button>
      <button (click)="addToDisplay('1')" class="number">1</button>
      <button (click)="addToDisplay('2')" class="number">2</button>
      <button (click)="addToDisplay('3')" class="number">3</button>
      <button (click)="addToDisplay('+')">+</button>
      <button (click)="addToDisplay('.')">.</button>
      <button (click)="addToDisplay('0')" class="number">0</button>
      <button (click)="addToDisplay('=')" class="equal">=</button>

    </div>
  </div>
</div>


